<style>
  th {
    text-align: center;
  }
</style>
<%= stylesheet_link_tag 'datatable' %>
<% content_for :stylesheets do %>

    <script type="text/javascript">
      $(function() {
        $('#articles_tabel').DataTable({

          paging: true,
          retrieve: true,
          dom: '<"top"f>rt<"bottom"p>'

        });
      });

    </script>

<% end %>

<p id="notice"><%= notice %></p>

<div class="container">
<div class="ibox float-e-margins">
  <div class="ibox-title">
    <h5><%= t('search_article.result') %></h5>
  </div>
  <div class="ibox-content">

    <div class="table-responsive">
      <table class="table table-striped table-bordered table-hover dataTables-example" id="articles_table">
        <thead>
        <tr>
          <th id="col0">Title <span style="float: right;"><i class="fa fa-sort"></i></span></th>
          <th id="col1">Volume <span style="float: right;"><i class="fa fa-sort"></i></span></th>
          <th id="col2">Issue <span style="float: right;"><i class="fa fa-sort"></i></span></th>
          <th id="col3">Year <span style="float: right;"><i class="fa fa-sort"></i></span></th>
        </tr>
        </thead>
        <tbody>
        <% @articles.each do |article| %>
          <tr class="gradeA odd" role="row" data-toggle="collapse" data-target="#accordion<%= article.id %>" class="clickable">
            <td><b><%= article.title %></b></td>
            <td style="text-align: center"><%= article.volume %></td>
            <td style="text-align: center"><%= article.number%></td>
            <td style="text-align: center"><%= article.year %></td>
          </tr>
          <!--
          <tr>
            <td colspan="4" style="padding: 0px; margin: 0px;">
              <div style="padding: 10px;" id="accordion<%= article.id %>" class="collapse"><h4>Abstract</h4><%= article.abstract %></div>
            </td>
          </tr>
          -->
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>

<% content_for :javascript do %>

  <script type="text/javascript">
    $(function() {
      var table = $('#articles_table').DataTable({
        paging: true,
        retrieve: true,
        dom: '<"top"f>rt<"bottom"p>'
      });

      $('#articles_table').on('order.dt', function () {
        var order = table.order();
        var col = order[0][0];
        var orderType = order[0][1];
        var span = $('#col' + col).find('span'); // selected span
        var i = $('#col' + col).find('i'); // selected i
        $('span').attr('class', 'grey'); // set all span to grey
        $('#articles_table thead i').attr('class', 'fa fa-sort'); // reset all sort icon
        span.attr('class', 'green'); // set selected span to orange
        i.attr('class', 'fa fa-sort-' + orderType);
      });
    });

  </script>

<% end %>



