<p id="notice"><%= notice %></p>

<h1><%= t('search_article.title') %></h1>

<%= render 'articles/basic_search'%>
<%= render 'articles/advanced_search'%>


<!--<%= link_to 'New Article', new_article_path %>-->
