<div class="middle-box text-center loginscreen animated fadeInDown">
  <%= csrf_meta_tags %>
  <div>
    <div>

      <h1 class="logo-name">SER</h1>

    </div>
    <h3>Welcome to SERLER</h3>
    <p>Perfectly designed and precisely prepared admin theme with over 50 pages with extra new web app views.
      <!--Continually expanded and constantly improved Inspinia Admin Them (IN+)-->
    </p>
    <p>Login in. To see it in action.</p>
    <div>
      <%= form_for(:session, url: login_path) do |f| %>

          <%= f.email_field :email, class: 'form-control', placeholder: 'email' %>

          <%= f.password_field :password, class: 'form-control', placeholder: 'password' %>

          <%= f.submit "Log in", class: "btn btn-primary" %>
      <% end %>


    </div>
    <p class="m-t"> <small>Inspinia we app framework base on Bootstrap 3 &copy; 2014</small> </p>
  </div>
</div>

<div class="container">
  <%= form_for(:session, url: login_path, html: {:class => 'form-signin'}) do |f| %>

    <h2 class="form-signin-heading">Please sign in</h2>

    <label for="inputEmail" class="sr-only">Email address</label>
    <%= f.email_field :email, class: 'form-control', id: 'inputEmail', autofocus: true, placeholder: 'Email' %>

    <label for="inputPassword" class="sr-only">Password</label>
      <%= f.password_field :password, class: 'form-control', id: 'inputEmail', autofocus: true, placeholder: 'Password' %>

    <div class="checkbox">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>

    <%= f.submit "Log in", class: "btn btn-lg btn-primary btn-block" %>

  <% end %>
</div> <!-- /container -->
